@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    <strong>You can reach us by:</strong><br />
    <strong>Tel:</strong> 054-793-0028<br />
    <strong>Mail:</strong> <a href="mailto:daniakuli2@gmail.com">daniakuli2@gmail.com</a><br />
    <strong>Visit us at:</strong><br /> Azrieli Buildings, Tel Aviv <br />
</p>
