@{
    ViewData["Title"] = "Help";
}
<h1>Under construction!</h1>
<hr />
<p>
    <strong>The help is on the way, sit tight!</strong><br />
    We currently gathering information to try and help you around the site.<br />
    Plese sit tight, and be patient :)
    
</p>
