@{
    ViewData["Title"] = "How it works";
}
<h1>Go to vacation in 3 steps</h1>
<br />

<section>
    <div class="wrapper">
        <div class="hiwLeft">
            <div>
                <span style="font-size:18px;font-weight:700;line-height:24px">
                    1. Search
                </span>
            </div>
            <span style="color: #222222; font-size: 18px; font-weight: 400; line-height: 24px">
                The process start with searching places to stay in.<br />
                With the help of the filters you can find the places that are suits you. 
            </span>
        </div>
        <div class="hiwRight">
            <img class="hiwImg" alt="Search" src="/media/search.png">
        </div>
    </div>
    <div class="wrapper">
        <div class="hiwLeft">
             <img class="hiwImg" alt="Reservation" src="/media/Reservation.png">
        </div>
        <div class="hiwRight">
            <div>
                <span style="font-size:18px;font-weight:700;line-height:24px">
                    2. Make Reservation
                </span>
            </div>
            <span style="color: #222222; font-size: 18px; font-weight: 400; line-height: 24px">
                If you liked the property all you have to do is<br />
                Make Reservation and enjoy your vacation there.
            </span>
        </div>
    </div>
    <div class="wrapper">
        <div class="hiwLeft">
            <div>
                <span style="font-size:18px;font-weight:700;line-height:24px">
                    1. Go!
                </span>
            </div>
            <span style="color: #222222; font-size: 18px; font-weight: 400; line-height: 24px">
                That's all, If you have any more questions.<br />
                We will be happy to help you with everything you need.
            </span>
        </div>
        <div class="hiwRight">
             <img class="hiwImg" alt="Go!" src="/media/go.png">
        </div>
    </div>
</section>