@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AirDnT</h1>
    <p><a href="somewhere">Here</a> you can see all our cool stuff we working on.</p>
    <p>Please enjoy a little video of few of ours properties</p>
</div>

<div>
    <video controls autoplay muted style="width:50%;height:35%;margin:0px 25%" >
        <source src="~/media/properties.mp4" type="video/mp4" />
        Your browser doesnt support the video
    </video>
</div>   
