.title {
    text-shadow: 2px 2px 8px #197ab5;
    color: #0b55a39c;
}

.search {
    width: 160px;
    transition: width .35s ease-in-out;
}

.search:focus {
    width: 255px;
}

.splitLayout:after {
    content: "";
    display: table;
    clear: both;
}

.searchColumn {
    float: left;
    width: 40%;
    padding: 10px;
}

.detailsColumn {
    float: left;
    width: 50%;
}


.apartmentColumn {
    float: left;
    width: 30%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 25px;
    margin: 5px;
}

.table {
    margin-top: 1rem;
}

.apartments {
    column-count: 3;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray
}

#barChart {
    font-size: 14px;
}

.bar {
    fill: steelblue;
}

    .bar:hover {
        fill: brown;
    }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}