<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AirDnT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.13.0.custom/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/HomeStyleSheet.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AirDnT</a>
                <button id="expand" class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Apartments" asp-action="Index">My Apartments</a>
                        </li>
                        @{
                            if(Context.User.IsInRole("Admin")) { 
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Apartments" asp-action="Stats">Statistics</a>
                            </li>
                            }
                        }
                    </ul>
                    @{
                        ViewData["Title"] = "Index";
                        if (Context != null && Context.User != null)


                            @*name = System.Text.Encoding.Default.GetString(b);*@

                            <div>Hello @Context.User.Identity.Name, </div>
                            <a class="nav-link text-dark" asp-controller="Users" asp-action="Logout">Logout</a>
                    }
                    <div id="canvasHolder">
                        <canvas id="canvas" width="200" height="100" style="background-color: white;margin-left:20px;margin-right:-100px"></canvas>
                        <canvas id="tip" width="50" height="30"></canvas>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="mainContent">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container setCol">
            
            <p class="footerPar">
                <a asp-area="" asp-controller="Home" asp-action="Help">Help</a>
            </p>
            <p class="footerPar">
               <a href="https://twitter.com/daniakuli2" target="_blank">Twitter page</a>
            </p>
            <p class="footerPar">
               <a asp-area="" asp-controller="Home" asp-action="HowItWorks">How it works</a>
            </p>
            <p class="footerPar">
               <a asp-area="" asp-controller="Home" asp-action="ContactUs">Contac us</a>
            </p>
            <p class="footerPar">
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            </p>
            <p class="footerPar">
                &copy; 2021 - AirDnT
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui-1.13.0.custom/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/createClock.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
