<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<aside id="details">
</aside>

<svg id="barChart"></svg>
<div>
    <a asp-action="Stats">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var data = JSON.parse('@Html.Raw((TempData["graphData"]))');
    var title = '@TempData["title"]';

    console.log(title);
</script>
<script src="~/js/GraphMaker.js"></script>
}