<a class="btn btn-primary" asp-action="ShowCountriesGraph" asp-route-id="Apartments">Countries Graph</a> |
<a class="btn btn-primary" asp-action="ShowAvgPriceGraph" asp-route-id="Price">Avarage Price Graph</a>
