@model AirDnT.Models.Apartment

@{
    ViewData["Title"] = "Create";
}

<h2>Hello :)<br />Here you can Make Twit about anything you want</h2>
<hr />
<br />
<div>
    Enter your twit here: <input id="tweetID" type="text" />
    <button id="makeTweet" class="btn btn-primary">Make a tweet</button>
</div>

@section Scripts{
<script src="~/js/makeTwit.js"></script>
}